
<div class="ui inverted segment top fixed menu black">
  <a href="/" class="ui big image">
  <img class="ui avatar image" src="/assets/images/spotify.png"><span id="logo"><b>SpotiFav</b></span>
  </a>
  <a href="Premium" class="item right">Premium</a>
  <a href="favoris" class="item">Favoris</a>
  <a href="subscribe" class="item">S'inscrire</a>
  <a href="login" class="item">Se connecter</a>
</div>
