<div class="adminPannel">
  <h2 class="ui header">
    <i class="settings icon"></i>
    <div class="content">
      Gestion de comptes
      <div class="sub header">Gérer vos préférences</div>
    </div>
  </h2>
</div>

<div id="usersInPannel" class="ui middle aligned divided list">
  <div class="item">
    <button class="ui red right floated content icon button">
      <i class="user times icon"></i>
    </button>
    <div class="right floated content">
      <button class="ui orange right floated content icon button">
        <i class="pencil alternate icon"></i>
      </button>
    </div>
    <img class="ui avatar image" src="/assets/images/user.png">
    <div class="content">
      Lena
    </div>
  </div>
  <div class="item">
    <button class="ui red right floated content icon button">
      <i class="user times icon"></i>
    </button>
    <div class="right floated content">
      <button class="ui orange right floated content icon button">
        <i class="pencil alternate icon"></i>
      </button>
    </div>
    <img class="ui avatar image" src="/assets/images/user.png">
    <div class="content">
      Lindsay
    </div>
  </div>
  <div class="item">
    <button class="ui red right floated content icon button">
      <i class="user times icon"></i>
    </button>
    <div class="right floated content">
      <button class="ui orange right floated content icon button">
        <i class="pencil alternate icon"></i>
      </button>
    </div>
    <img class="ui avatar image" src="/assets/images/user.png">
    <div class="content">
      Mark
    </div>
  </div>
  <div class="item">
    <button class="ui red right floated content icon button">
      <i class="user times icon"></i>
    </button>
    <div class="right floated content">
      <button class="ui orange right floated content icon button">
        <i class="pencil alternate icon"></i>
      </button>
    </div>
    <img class="ui avatar image" src="/assets/images/user.png">
    <div class="content">
      Molly
    </div>
  </div>
</div>
