
<div class="favoris">

  <div class="ui top attached tabular menu">
  <a class="item active">
    Résultats
  </a>
  <a class="item">
    Favoris
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search users...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

<div id="results">
  <h1 id="favHead" class="ui header">Vos Favoris </h1>

  <div class="ui items">
    <div class="item">
      <div class="ui tiny image">
        <img src="/assets/images/music-album.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
        <div class="ui star large rating" data-max-rating="1"></div>

      </div>
    </div>
    <div class="item">
      <div class="ui tiny image">
        <img src="/assets/images/music-album.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui tiny image">
        <img src="/assets/images/music-album.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui tiny image">
        <img src="/assets/images/music-album.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
  </div>
</div>

</div>
