
<div class="favoris">



</div>

<div>

  <div class="ui items">
    <div class="item">
      <div class="ui tiny image">
        <img src="/assets/images/music-album.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div id="fav-icon" class="ui star massive rating" data-max-rating="1"></div>

      </div>
    </div>
    <div class="ui divider"></div>
    <div class="item">
      <div class="ui tiny image">
        <img src="/assets/images/music-album.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <div class="description">
            <p></p>
          </div>
          <span>Description</span>
        </div>
        <div id="fav-icon" class="ui star massive rating" data-max-rating="1"></div>

      </div>
    </div>
    <div class="ui divider"></div>
    <div class="item">
      <div class="ui tiny image">
        <img src="/assets/images/music-album.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>

          <div id="fav-icon" class="ui star massive rating" data-max-rating="1"></div>

      </div>
    </div>
    <div class="ui divider"></div>
    <div class="item">
      <div class="ui tiny image">
        <img src="/assets/images/music-album.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
          <div id="fav-icon" class="ui star massive rating" data-max-rating="1"></div>
      </div>
      <div class="ui divider"></div>
    </div>
  </div>
  <div class="ui divider"></div>
</div>

</div>
