

  <div class="container">
    <form id="searchHome" class="center" action={{albums}} method="get">

      <div  class="ui section ">

        <div class="ui action input">
          <input name="album" class="inverted" id="searchBarLeft" type="text" placeholder="Rechercher un album...">
          <input name="limit" id="searchBarRight" type="text" placeholder="limite">

            <button id="searchButton" class="ui inverted button animated">

            <div class="visible inverted content input"><i class="search icon"></i></div>
            <div class="hidden inverted content">
              <i class="music icon"></i>
            </div>

          </button>
        </div>
      </div>
    </form>

    <!--<a href="/spotify" style="margin-top: 20%" id="spotify-btn" class="ui button black">-->
      <!--Login with Spotify-->
    <!--</a>-->

  </div>
