 {{#if errorMessage }}
    <div id="warning" class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
        {{ message }}
      </div>
    </div>

    {{else errorMessage}}
    <div id="warning" class="ui positive message">
      <i class="close icon"></i>
      <div class="header">
        {{ message }}
      </div>
    </div>

  {{/if}}
  <form action={{loginAction}} method="post" class="ui form authenticate">

    <div class="ui center aligned basic segment">
      <a href="http://www.facebook.com" class="ui inverted blue animated button">
        <div class="visible content">Se connecter avec Facebook</div>
        <div class="hidden content">
          <i class="facebook large icon"></i>
        </div>

      </a>
    <div class="ui horizontal divider">
      Ou
    </div>
    </div>

    <div class="field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email">
    </div>
    <div class="field">
      <label>Mot de passe</label>
      <input type="password" name="password" placeholder="Mot de passe">
    </div>


    <div class="ui checkbox">
      <input name="checkbox" type="checkbox">
      <label>Se souvenir de moi</label>
    </div>

    <button type="submit" id="btn-form" class="ui inverted green animated button right">
      <div class="visible content">Se connecter</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </button>
  </form>
